**/node_modules/*


# BDD 
*.sqlite
*.db

# testing
/coverage

# production
/build
**/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn-lock.json

.vscode/**/*
